node-red/flows.json
[{"id":"64213eaf.7003e","type":"tab","label":"devices_status","disabled":false,"info":""},{"id":"fb4ea7ef.b2b1f","type":"tab","label":"aspi_notification","disabled":false,"info":""},{"id":"d088909c.1f833","type":"tab","label":"daniel_bedtime","disabled":false,"info":""},{"id":"2e2bc9d1.f217f6","type":"tab","label":"workstation","disabled":false,"info":""},{"id":"30c29cc.4d28164","type":"tab","label":"daniel_presence","disabled":false,"info":""},{"id":"12d28522.f7a5fb","type":"tab","label":"hassio_backups","disabled":false,"info":""},{"id":"e80256fb.3116e","type":"tab","label":"tv_mode_lights","disabled":false,"info":""},{"id":"b867b51d.6e7cb8","type":"tab","label":"toldos","disabled":false,"info":""},{"id":"27c7e3db.10368c","type":"tab","label":"livingroom_presence","disabled":false,"info":""},{"id":"9212726.7af9f9","type":"subflow","name":"Check (re)connection","info":"","in":[{"x":60,"y":80,"wires":[{"id":"cf83f753.da5a7"}]}],"out":[{"x":2340,"y":40,"wires":[{"id":"42dcc98b.89aeb8","port":0}]},{"x":1460,"y":120,"wires":[{"id":"e2cb859c.30a5a","port":0}]}]},{"id":"885c677a.c9f008","type":"subflow","name":"on | off","info":"","category":"","in":[{"x":120,"y":160,"wires":[{"id":"93e162a2.e4d2d8"}]}],"out":[{"x":340,"y":140,"wires":[{"id":"93e162a2.e4d2d8","port":0}]},{"x":340,"y":200,"wires":[{"id":"93e162a2.e4d2d8","port":1}]}],"outputLabels":["on","off"]},{"id":"f25010e5.eecf18","type":"subflow","name":"home | not_home","info":"","category":"","in":[{"x":240,"y":140,"wires":[{"id":"dadc0647.c14948"}]}],"out":[{"x":520,"y":120,"wires":[{"id":"dadc0647.c14948","port":0}]},{"x":520,"y":180,"wires":[{"id":"dadc0647.c14948","port":1}]}]},{"id":"7e0936e5.99c258","type":"subflow","name":"is Night ?","info":"","category":"","in":[{"x":240,"y":140,"wires":[{"id":"f9bd2fbe.804ae8"}]}],"out":[{"x":440,"y":140,"wires":[{"id":"f9bd2fbe.804ae8","port":0}]}],"outputLabels":["true"]},{"id":"a54c2c79.d6d348","type":"subflow","name":"Check (re)connection (2)","info":"","in":[{"x":60,"y":80,"wires":[{"id":"15e9702b.d17468"}]}],"out":[{"x":2340,"y":40,"wires":[{"id":"596dd084.c7bf3","port":0}]},{"x":1460,"y":120,"wires":[{"id":"86d1b2aa.bcc038","port":0}]}]},{"id":"51852ec3.ac9708","type":"subflow","name":"is Night ? (2)","info":"","category":"","in":[{"x":240,"y":140,"wires":[{"id":"ba79f583.18bb38"}]}],"out":[{"x":440,"y":140,"wires":[{"id":"ba79f583.18bb38","port":0}]}],"outputLabels":["true"]},{"id":"e0dd1f43.fccf6","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true},{"id":"21d44d66.d77c6a","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"27.890814","longitude":"-82.50234640000001"},{"id":"139eb288.b1a2cd","type":"server-state-changed","z":"64213eaf.7003e","name":"Status Aspi","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.aspi","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":190,"y":60,"wires":[["fe3bcf6a.bdade8"]]},{"id":"5ae14032.b2ff9","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Aspi se ha restablecido con exito y su estado es Online\"}","mergecontext":"","x":730,"y":80,"wires":[[]]},{"id":"fb8c8884.2b12f8","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Aspi se ha desconectado. Por favor, revise el dispositivo\"}","mergecontext":"","x":730,"y":40,"wires":[[]]},{"id":"7d86cb57.964204","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Luz Cama se ha restablecido con exito y su estado es Online\"}","mergecontext":"","x":730,"y":160,"wires":[[]]},{"id":"33f1a1bf.8b910e","type":"server-state-changed","z":"64213eaf.7003e","name":"Status Luz Cama","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.luz_cama_status","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":200,"y":140,"wires":[["e105d80b.da9ed"]]},{"id":"a3c88088.d82ba","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Luz Cama se ha desconectado. Por favor, revise el dispositivo\"}","mergecontext":"","x":730,"y":120,"wires":[[]]},{"id":"4f4f0e95.c972a","type":"server-state-changed","z":"64213eaf.7003e","name":"Status Termo","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.termo_status","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":190,"y":220,"wires":[["e45d89ff.0fadc8"]]},{"id":"e7b0bd6a.26a6a8","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Termo se ha restablecido con exito y su estado es Online\"}","mergecontext":"","x":730,"y":240,"wires":[[]]},{"id":"62d48fcd.725868","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Termo se ha desconectado. Por favor, revise el dispositivo\"}","mergecontext":"","x":730,"y":200,"wires":[[]]},{"id":"c722a984.53ef2","type":"server-state-changed","z":"64213eaf.7003e","name":"Status Lampara Pie","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.lampara_pie","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":210,"y":300,"wires":[["7c82d691.b692b8"]]},{"id":"fec5683a.c8d0c8","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Lampara Pie se ha restablecido con exito y su estado es Online\"}","mergecontext":"","x":730,"y":320,"wires":[[]]},{"id":"7d017a3b.2a4aec","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Lampara Pie se ha desconectado. Por favor, revise el dispositivo\"}","mergecontext":"","x":730,"y":280,"wires":[[]]},{"id":"60016484.ed8db4","type":"server-state-changed","z":"64213eaf.7003e","name":"Status Somfy Connexoon","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.somfy_connexoon","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":230,"y":380,"wires":[["56a34f7f.bfa3f"]]},{"id":"2ebe333.7f462cc","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Somfy Connexoon se ha restablecido con exito y su estado es Online\"}","mergecontext":"","x":730,"y":400,"wires":[[]]},{"id":"674085cc.67bd34","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Somfy Connexoon se ha desconectado. Por favor, revise el dispositivo\"}","mergecontext":"","x":730,"y":360,"wires":[[]]},{"id":"de154199.3cda48","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Lamparita se ha restablecido con exito y su estado es Online\"}","mergecontext":"","x":730,"y":480,"wires":[[]]},{"id":"5b27f88d.f1a15","type":"server-state-changed","z":"64213eaf.7003e","name":"Status Lamparita","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.lamparita_status","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":200,"y":460,"wires":[["6c937f1c.5eb528"]]},{"id":"5014c503.c3158c","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Lamparita se ha desconectado. Por favor, revise el dispositivo\"}","mergecontext":"","x":730,"y":440,"wires":[[]]},{"id":"50b505ff.40d1cc","type":"server-state-changed","z":"64213eaf.7003e","name":"Status Lampara Mesa","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.lampara_mesa_status","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":220,"y":540,"wires":[["c58b955d.fa3bf8"]]},{"id":"7de704ea.1da0cc","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Lampara Mesa se ha desconectado. Por favor, revise el dispositivo\"}","mergecontext":"","x":730,"y":520,"wires":[[]]},{"id":"2b263f54.4fe818","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Lampara Mesa se ha restablecido con exito y su estado es Online\"}","mergecontext":"","x":730,"y":560,"wires":[[]]},{"id":"34012152.4c7ec6","type":"server-state-changed","z":"64213eaf.7003e","name":"Status Workstation","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.workstation_status","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":210,"y":620,"wires":[["99d54a8b.124ae"]]},{"id":"b01e95d1.311cc8","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Workstation se ha desconectado. Por favor, revise el dispositivo\"}","mergecontext":"","x":730,"y":600,"wires":[[]]},{"id":"328fc888.766b68","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Workstation se ha restablecido con exito y su estado es Online\"}","mergecontext":"","x":730,"y":640,"wires":[[]]},{"id":"fb8903ba.466368","type":"api-current-state","z":"9212726.7af9f9","name":"Entity ID: OFF ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"on","override_topic":false,"entity_id":"","override_payload":false,"x":800,"y":40,"wires":[["4b889803.82dd"]]},{"id":"ce0daa2.44bc7d8","type":"server-state-changed","z":"64213eaf.7003e","name":"Status Luz Principal","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.luz_principal_status","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":210,"y":700,"wires":[["4d487827.17ca3"]]},{"id":"4d487827.17ca3","type":"subflow:9212726.7af9f9","z":"64213eaf.7003e","name":"","x":460,"y":700,"wires":[["2aab7bfe.fcf95c"],["c5dc359e.99b64"]]},{"id":"f1430f06.783128","type":"function","z":"9212726.7af9f9","name":"Set Entity ID from msg.topic","func":"msg.payload = {\"entity_id\": msg.topic}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":40,"wires":[["fb8903ba.466368"]]},{"id":"cf83f753.da5a7","type":"switch","z":"9212726.7af9f9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"on","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":80,"wires":[["61319f42.4c3138"],["ec730f16.b154a"]]},{"id":"79b0c8ec.c91bd","type":"api-current-state","z":"9212726.7af9f9","name":"Entity ID: ON ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"","override_payload":false,"x":1080,"y":120,"wires":[["e2cb859c.30a5a"]]},{"id":"57c54b37.587cac","type":"function","z":"9212726.7af9f9","name":"Set Entity ID from msg.topic","func":"msg.payload = {\"entity_id\": msg.topic}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":120,"wires":[["79b0c8ec.c91bd"]]},{"id":"13d99d6a.375eab","type":"api-current-state","z":"9212726.7af9f9","name":"Entity ID: OFF ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"on","override_topic":false,"entity_id":"","override_payload":false,"x":1380,"y":40,"wires":[["c8374370.849f88"]]},{"id":"5653ec59.cd1ef4","type":"function","z":"9212726.7af9f9","name":"Set Entity ID from msg.topic","func":"msg.payload = {\"entity_id\": msg.topic}\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":40,"wires":[["13d99d6a.375eab"]]},{"id":"2e5d231e.3666a4","type":"api-current-state","z":"9212726.7af9f9","name":"Entity ID: OFF ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"on","override_topic":false,"entity_id":"","override_payload":false,"x":1960,"y":40,"wires":[["42dcc98b.89aeb8"]]},{"id":"8cb0e8e4.d2382","type":"function","z":"9212726.7af9f9","name":"Set Entity ID from msg.topic","func":"msg.payload = {\"entity_id\": msg.topic}\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":40,"wires":[["2e5d231e.3666a4"]]},{"id":"ec730f16.b154a","type":"switch","z":"9212726.7af9f9","name":"Entity disconnected: TRUE ?","property":"disconnected","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":120,"wires":[["7a4aa470.62dc2c"]]},{"id":"42dcc98b.89aeb8","type":"change","z":"9212726.7af9f9","name":"Entity Disconnected: TRUE ","rules":[{"t":"set","p":"disconnected","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":40,"wires":[[]]},{"id":"e2cb859c.30a5a","type":"change","z":"9212726.7af9f9","name":"Entity Disconnected: FALSE","rules":[{"t":"set","p":"disconnected","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":120,"wires":[[]]},{"id":"61319f42.4c3138","type":"delay","z":"9212726.7af9f9","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":40,"wires":[["f1430f06.783128"]]},{"id":"4b889803.82dd","type":"delay","z":"9212726.7af9f9","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":40,"wires":[["5653ec59.cd1ef4"]]},{"id":"c8374370.849f88","type":"delay","z":"9212726.7af9f9","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":40,"wires":[["8cb0e8e4.d2382"]]},{"id":"7a4aa470.62dc2c","type":"delay","z":"9212726.7af9f9","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":120,"wires":[["57c54b37.587cac"]]},{"id":"2aab7bfe.fcf95c","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Luz Principal se ha desconectado. Por favor, revise el dispositivo\"}","mergecontext":"","x":730,"y":680,"wires":[[]]},{"id":"c5dc359e.99b64","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Luz Principal se ha restablecido con exito y su estado es Online\"}","mergecontext":"","x":730,"y":720,"wires":[[]]},{"id":"99d54a8b.124ae","type":"subflow:9212726.7af9f9","z":"64213eaf.7003e","x":460,"y":620,"wires":[["b01e95d1.311cc8"],["328fc888.766b68"]]},{"id":"c58b955d.fa3bf8","type":"subflow:9212726.7af9f9","z":"64213eaf.7003e","x":460,"y":540,"wires":[["7de704ea.1da0cc"],["2b263f54.4fe818"]]},{"id":"6c937f1c.5eb528","type":"subflow:9212726.7af9f9","z":"64213eaf.7003e","x":460,"y":460,"wires":[["5014c503.c3158c"],["de154199.3cda48"]]},{"id":"56a34f7f.bfa3f","type":"subflow:9212726.7af9f9","z":"64213eaf.7003e","x":460,"y":380,"wires":[["674085cc.67bd34"],["2ebe333.7f462cc"]]},{"id":"7c82d691.b692b8","type":"subflow:9212726.7af9f9","z":"64213eaf.7003e","x":460,"y":300,"wires":[["7d017a3b.2a4aec"],["fec5683a.c8d0c8"]]},{"id":"e45d89ff.0fadc8","type":"subflow:9212726.7af9f9","z":"64213eaf.7003e","x":460,"y":220,"wires":[["62d48fcd.725868"],["e7b0bd6a.26a6a8"]]},{"id":"e105d80b.da9ed","type":"subflow:9212726.7af9f9","z":"64213eaf.7003e","x":460,"y":140,"wires":[["a3c88088.d82ba"],["7d86cb57.964204"]]},{"id":"fe3bcf6a.bdade8","type":"subflow:9212726.7af9f9","z":"64213eaf.7003e","name":"","x":460,"y":60,"wires":[["fb8c8884.2b12f8"],["5ae14032.b2ff9"]]},{"id":"154b4ec9.60e809","type":"server-state-changed","z":"64213eaf.7003e","name":"Status Luz Pasillo","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.luz_pasillo_status","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":210,"y":780,"wires":[["ee9a2b4a.94ed38"]]},{"id":"ee9a2b4a.94ed38","type":"subflow:9212726.7af9f9","z":"64213eaf.7003e","name":"","x":460,"y":780,"wires":[["3546da3b.2c649e"],["e4dbb174.1ec9a"]]},{"id":"3546da3b.2c649e","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Luz Pasillo se ha desconectado. Por favor, revise el dispositivo\"}","mergecontext":"","x":730,"y":760,"wires":[[]]},{"id":"e4dbb174.1ec9a","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Luz Pasillo se ha restablecido con exito y su estado es Online\"}","mergecontext":"","x":730,"y":800,"wires":[[]]},{"id":"6a856474.ee596c","type":"server-state-changed","z":"64213eaf.7003e","name":"Status Luz Ambiente","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.luz_ambiente","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":210,"y":860,"wires":[["ddee1742.06b5f8"]]},{"id":"ddee1742.06b5f8","type":"subflow:9212726.7af9f9","z":"64213eaf.7003e","name":"","x":460,"y":860,"wires":[["ade59442.53c428"],["eef40436.684108"]]},{"id":"ade59442.53c428","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Luz Ambiente se ha desconectado. Por favor, revise el dispositivo\"}","mergecontext":"","x":730,"y":840,"wires":[[]]},{"id":"eef40436.684108","type":"api-call-service","z":"64213eaf.7003e","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Luz Ambiente se ha restablecido con exito y su estado es Online\"}","mergecontext":"","x":730,"y":880,"wires":[[]]},{"id":"23c140f2.b36388","type":"api-call-service","z":"fb4ea7ef.b2b1f","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"Aspi llena. Por favor, vacíe el depósito\"}","mergecontext":"","x":1870,"y":200,"wires":[[]]},{"id":"8b6c466b.c1e2e8","type":"inject","z":"fb4ea7ef.b2b1f","name":"Every 60min","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":260,"wires":[["5dca2ee6.96b04"]]},{"id":"ce9c77e9.f60008","type":"api-current-state","z":"fb4ea7ef.b2b1f","name":"Aspi llena ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_boolean.aspi_llena","override_payload":true,"x":1150,"y":240,"wires":[["70729684.003ee8"]]},{"id":"70729684.003ee8","type":"switch","z":"fb4ea7ef.b2b1f","name":"on | off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":240,"wires":[["8d95b40d.5ca8d8","ccb8a431.67ad08"],["6045e5f1.fef85c"]]},{"id":"8d95b40d.5ca8d8","type":"api-current-state","z":"fb4ea7ef.b2b1f","name":"Daniel Home STATUS ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_select.daniel_home_status","override_payload":true,"x":1490,"y":220,"wires":[["73ad00bd.9a0c9"]]},{"id":"6045e5f1.fef85c","type":"api-current-state","z":"fb4ea7ef.b2b1f","name":"Light Notification Daniel: ON ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"light.notificacion_daniel","override_payload":true,"override_data":true,"x":1510,"y":280,"wires":[["cb63d972.25446"]]},{"id":"cb63d972.25446","type":"api-call-service","z":"fb4ea7ef.b2b1f","name":"Light Notification Daniel: OFF","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.notificacion_daniel\"}","mergecontext":"","x":1900,"y":280,"wires":[[]]},{"id":"6367a851.2883f","type":"api-call-service","z":"fb4ea7ef.b2b1f","name":"Light Notification Daniel: ON","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.notificacion_daniel\"}","mergecontext":"","x":1900,"y":240,"wires":[[]]},{"id":"5dca2ee6.96b04","type":"api-current-state","z":"fb4ea7ef.b2b1f","name":"Aspi STATUS ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","override_topic":true,"entity_id":"vacuum.aspi","override_payload":true,"x":520,"y":220,"wires":[["465b438c.e88d8c"]]},{"id":"11da0856.0ce6c","type":"server-state-changed","z":"fb4ea7ef.b2b1f","name":"Aspi Llena: OFF","server":"e0dd1f43.fccf6","entityidfilter":"input_boolean.aspi_llena","entityidfiltertype":"substring","haltifstate":"on","outputs":1,"x":320,"y":380,"wires":[["f6ff1c8b.fff17"]]},{"id":"a71f33b1.173ac8","type":"api-call-service","z":"d088909c.1f833","name":"Luz Ambiente Daniel: OFF","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.luz_ambiente\" }","mergecontext":"","x":1480,"y":80,"wires":[[]],"outputLabels":["continue"]},{"id":"b7dc71d9.035488","type":"api-call-service","z":"d088909c.1f833","name":"Luz Ambiente Daniel: ON","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_on","data":"{   \"entity_id\": \"light.luz_ambiente\" }","mergecontext":"","x":1470,"y":40,"wires":[[]],"outputLabels":["continue"]},{"id":"68df8b0c.9d8c84","type":"delay","z":"d088909c.1f833","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":80,"wires":[["a71f33b1.173ac8"]]},{"id":"c698d65d.f1937","type":"delay","z":"d088909c.1f833","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":120,"wires":[["c05f7a99.7e0e6"]]},{"id":"547790ec.30427","type":"api-call-service","z":"d088909c.1f833","name":"Luz Ambiente Daniel: OFF","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.luz_ambiente\" }","mergecontext":"","x":1480,"y":160,"wires":[[]],"outputLabels":["continue"]},{"id":"c05f7a99.7e0e6","type":"api-call-service","z":"d088909c.1f833","name":"Luz Ambiente Daniel: ON","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_on","data":"{   \"entity_id\": \"light.luz_ambiente\" }","mergecontext":"","x":1470,"y":120,"wires":[[]],"outputLabels":["continue"]},{"id":"f96cc84a.be71e8","type":"delay","z":"d088909c.1f833","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":160,"wires":[["547790ec.30427"]]},{"id":"ee3f266c.51e718","type":"delay","z":"d088909c.1f833","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":200,"wires":[["19465686.53a0b9"]]},{"id":"19465686.53a0b9","type":"api-call-service","z":"d088909c.1f833","name":"Luz Ambiente Daniel: ON","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_on","data":"{   \"entity_id\": \"light.luz_ambiente\" }","mergecontext":"","x":1470,"y":200,"wires":[[]],"outputLabels":["continue"]},{"id":"e8da2b93.81c4d","type":"api-call-service","z":"d088909c.1f833","name":"Luz Ambiente Daniel: OFF","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_off","data":"{   \"entity_id\": \"light.luz_ambiente\" }","mergecontext":"","x":1480,"y":240,"wires":[[]],"outputLabels":["continue"]},{"id":"9dfa56fc.756d28","type":"delay","z":"d088909c.1f833","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":240,"wires":[["e8da2b93.81c4d"]]},{"id":"612f52c8.06c3e4","type":"delay","z":"d088909c.1f833","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1280,"y":280,"wires":[["45abf59c.42a2cc"]]},{"id":"45abf59c.42a2cc","type":"api-call-service","z":"d088909c.1f833","name":"Luz Ambiente Daniel: ON","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_on","data":"{   \"entity_id\": \"light.luz_ambiente\" }","mergecontext":"","x":1470,"y":280,"wires":[[]],"outputLabels":["continue"]},{"id":"84355d3.484e1a","type":"server-state-changed","z":"d088909c.1f833","name":"Hora de dormir: ON","server":"e0dd1f43.fccf6","entityidfilter":"input_boolean.daniel_bedtime","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":90,"y":220,"wires":[["4f391991.9f8d9"]]},{"id":"74ac2dd.c19a354","type":"inject","z":"d088909c.1f833","name":"Every 10min","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["fc3d9630.73f76"]]},{"id":"26ab89fb.72601e","type":"api-current-state","z":"d088909c.1f833","name":"Daniel Home Status: Casa ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_select.daniel_home_status","override_payload":true,"x":520,"y":220,"wires":[["477b63d5.c889fc"]]},{"id":"73ad00bd.9a0c9","type":"switch","z":"fb4ea7ef.b2b1f","name":"is Casa?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Casa","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1680,"y":220,"wires":[["6367a851.2883f","23c140f2.b36388"]]},{"id":"477b63d5.c889fc","type":"switch","z":"d088909c.1f833","name":"is Casa?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Casa","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":220,"wires":[["68df8b0c.9d8c84","c698d65d.f1937","f96cc84a.be71e8","ee3f266c.51e718","9dfa56fc.756d28","612f52c8.06c3e4","b0935520.43e8e8"]]},{"id":"b0935520.43e8e8","type":"api-call-service","z":"d088909c.1f833","name":"Notify: html5_daniel","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_daniel","data":"{\"message\":\"¡Hora de irse a la cama!\"}","mergecontext":"","x":1310,"y":360,"wires":[[]]},{"id":"f7460025.96e3a","type":"api-current-state","z":"d088909c.1f833","name":"Daniel Home Status: Casa ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_select.daniel_home_status","override_payload":true,"x":520,"y":160,"wires":[["bf237274.db77c8"]]},{"id":"b44d0f76.aec2a","type":"api-current-state","z":"d088909c.1f833","name":"Hora de dormir: ON ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.daniel_bedtime","override_payload":true,"x":920,"y":160,"wires":[["b7dc71d9.035488","68df8b0c.9d8c84","c698d65d.f1937","f96cc84a.be71e8","ee3f266c.51e718","9dfa56fc.756d28","612f52c8.06c3e4"]]},{"id":"bf237274.db77c8","type":"switch","z":"d088909c.1f833","name":"is Casa?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Casa","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":160,"wires":[["b44d0f76.aec2a"]]},{"id":"d1764125.e53e98","type":"server-state-changed","z":"d088909c.1f833","name":"Daniel Home Status","server":"e0dd1f43.fccf6","entityidfilter":"sensor.daniel_home_status","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":90,"y":300,"wires":[["59893a17.f11634"]]},{"id":"59893a17.f11634","type":"switch","z":"d088909c.1f833","name":"is Acaba de llegar?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Acaba de llegar","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":300,"wires":[["ba4629b8.d1c5c"]]},{"id":"173e573b.290331","type":"api-current-state","z":"d088909c.1f833","name":"Hora de dormir: ON ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.daniel_bedtime","override_payload":true,"x":860,"y":300,"wires":[["b7dc71d9.035488","68df8b0c.9d8c84","c698d65d.f1937","f96cc84a.be71e8","ee3f266c.51e718","9dfa56fc.756d28","612f52c8.06c3e4","b0935520.43e8e8"]]},{"id":"d3640440.a541b8","type":"inject","z":"d088909c.1f833","name":"At 6:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":80,"y":80,"wires":[["1dc1a1a5.7c5286"]]},{"id":"1dc1a1a5.7c5286","type":"api-call-service","z":"d088909c.1f833","name":"Hora de dormir: OFF","server":"e0dd1f43.fccf6","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\": \"input_boolean.daniel_bedtime\" }","mergecontext":"","x":260,"y":80,"wires":[["6a65764c.f69f5"]],"outputLabels":["continue"]},{"id":"6a65764c.f69f5","type":"delay","z":"d088909c.1f833","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":80,"wires":[["9ae79740.79a698"]]},{"id":"9ae79740.79a698","type":"api-call-service","z":"d088909c.1f833","name":"Hora de dormir: OFF","server":"e0dd1f43.fccf6","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\": \"input_boolean.daniel_bedtime\" }","mergecontext":"","x":640,"y":80,"wires":[[]],"outputLabels":["continue"]},{"id":"d5727a7c.000f28","type":"delay","z":"d088909c.1f833","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":300,"wires":[["173e573b.290331"]]},{"id":"1cae4e74.2d37c2","type":"trigger-state","z":"fb4ea7ef.b2b1f","name":"Daniel Home Status: From Acaba de llegar to Casa","server":"e0dd1f43.fccf6","entityid":"sensor.daniel_home_status","debugenabled":true,"constraints":[{"id":"b6hkyryizec","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Acaba de llegar"},{"id":"oyo1rkyzdgn","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Casa"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"5x9vu0eers3","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"Casa"}],"outputinitially":false,"x":210,"y":200,"wires":[[],[],["5dca2ee6.96b04"]],"outputLabels":["","","is Casa"]},{"id":"5341221.784b1dc","type":"server-state-changed","z":"2e2bc9d1.f217f6","name":"STRIX-STATION","server":"e0dd1f43.fccf6","entityidfilter":"device_tracker.strixstation","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":80,"y":60,"wires":[["bf2e1397.23b4f","b196b2f9.6b84f"]]},{"id":"b1ef7379.0d6d5","type":"server-state-changed","z":"2e2bc9d1.f217f6","name":"THINKPAD-STATION","server":"e0dd1f43.fccf6","entityidfilter":"device_tracker.thinkpadstation","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":90,"y":200,"wires":[["bf2e1397.23b4f","b196b2f9.6b84f"]]},{"id":"bf2e1397.23b4f","type":"switch","z":"2e2bc9d1.f217f6","name":"home | not_home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":100,"wires":[["87dd46c5.4fddb8"],[]]},{"id":"d2e40ece.5a93a8","type":"api-call-service","z":"2e2bc9d1.f217f6","name":"Workstation: ON","server":"e0dd1f43.fccf6","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.workstation\"}","mergecontext":"","x":880,"y":100,"wires":[[]]},{"id":"275bcae8.7d8b9e","type":"api-call-service","z":"2e2bc9d1.f217f6","name":"Workstation: OFF","server":"e0dd1f43.fccf6","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.workstation\"}","mergecontext":"","x":1330,"y":260,"wires":[[]]},{"id":"af6a1500.878048","type":"api-current-state","z":"2e2bc9d1.f217f6","name":"THINKPAD-STATION: OFF ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"home","override_topic":true,"entity_id":"device_tracker.thinkpadstation","override_payload":true,"x":1220,"y":200,"wires":[["275bcae8.7d8b9e"]]},{"id":"3cf708cc.d2216","type":"server-state-changed","z":"30c29cc.4d28164","name":"Presencia Habitacion Daniel","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.pir_daniel","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":260,"y":180,"wires":[["5aef75b2.f29034","9d40fc4.42b888"]]},{"id":"6a995ff9.5f0c48","type":"api-call-service","z":"30c29cc.4d28164","name":"Luz Principal: OFF","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.luz_principal\"}","mergecontext":"","x":1630,"y":180,"wires":[[]]},{"id":"94bc5694.5b52f8","type":"api-current-state","z":"30c29cc.4d28164","name":"Daniel Home STATUS ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_select.daniel_home_status","override_payload":true,"x":970,"y":120,"wires":[["cf43b209.029fc"]]},{"id":"cf43b209.029fc","type":"switch","z":"30c29cc.4d28164","name":"is 'Casa' or 'Acaba de llegar'?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Casa","vt":"str"},{"t":"eq","v":"Acaba de llegar","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":120,"wires":[["76883e06.d5347"],["76883e06.d5347"]]},{"id":"73623903.685f7","type":"api-current-state","z":"2e2bc9d1.f217f6","name":"STRIX-STATION: OFF ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"home","override_topic":true,"entity_id":"device_tracker.strixstation","override_payload":true,"x":710,"y":200,"wires":[["3cc154c9.327bc4"]]},{"id":"aeff00b9.da529","type":"switch","z":"12d28522.f7a5fb","name":"ON only","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":160,"wires":[["e6f9f1e3.50ac7"]]},{"id":"3fdb4d2a.5c34f2","type":"delay","z":"12d28522.f7a5fb","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":200,"wires":[["fd25f671.0cb4e"]]},{"id":"b51c18af.520fb8","type":"function","z":"12d28522.f7a5fb","name":"format snapshot","func":"msg.payload = \n{\n  \"data\": \n  {\n    \"name\": (new Date().toISOString().replace(':', '_').replace(':', '_').replace(/\\..+/, ''))+\"_snapshot\",\n    \"addons\":[\n      \"core_configurator\",\n      \"core_mosquitto\",\n      \"a0d7b954_nodered\",\n      \"core_samba\",\n      \"7be23ff5_dropbox_sync\",\n      \"a0d7b954_ssh\",\n      \"03d23610_dasshio\",\n      \"core_duckdns\",\n      \"5ec77102_mopidy\",\n      \"a0d7b954_plex\"\n    ],\n    \"folders\":[\n      \"addons/local\",\n      \"ssl\",\n      \"homeassistant\"\n    ]\n  }\n}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":140,"wires":[["8c682561.fcd078"]]},{"id":"eb30ad11.524fb8","type":"rbe","z":"12d28522.f7a5fb","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":160,"wires":[["aeff00b9.da529"]]},{"id":"fd25f671.0cb4e","type":"api-call-service","z":"12d28522.f7a5fb","name":"hassio","server":"e0dd1f43.fccf6","service_domain":"hassio","service":"addon_stdin","data":"{\"addon\":\"7be23ff5_dropbox_sync\",\"input\":{\"command\":\"upload\"}}","mergecontext":"","x":910,"y":200,"wires":[[]]},{"id":"8c682561.fcd078","type":"api-call-service","z":"12d28522.f7a5fb","name":"snapshot","server":"e0dd1f43.fccf6","service_domain":"hassio","service":"snapshot_partial","data":"{}","mergecontext":"","x":920,"y":140,"wires":[[]]},{"id":"465b438c.e88d8c","type":"switch","z":"fb4ea7ef.b2b1f","name":"DOCKED ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"docked","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":220,"wires":[["1a501.24b75affe"]]},{"id":"880b76b7.f379f","type":"trigger-state","z":"e80256fb.3116e","name":"TV from OFF to ON","server":"e0dd1f43.fccf6","entityid":"device_tracker.television_lg","debugenabled":false,"constraints":[{"id":"r65hxftkbyl","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"3zbaubqu58c","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"not_home"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"2iqyal7c16u","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"home"}],"outputinitially":false,"x":130,"y":60,"wires":[[],[],["f62aa187.5fac1"]],"outputLabels":["","","ON"]},{"id":"6b12591d.8845e8","type":"trigger-state","z":"e80256fb.3116e","name":"Sun from 'above_horizon' to 'below_horizon'","server":"e0dd1f43.fccf6","entityid":"device_tracker.television_lg","debugenabled":false,"constraints":[{"id":"x51o7c9qzjh","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"below_horizon"},{"id":"gs73vagmep5","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"above_horizon"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"0ilah60wx66n","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"below_horizon"}],"outputinitially":false,"x":210,"y":120,"wires":[[],[],["cf074322.fb0a8"]],"outputLabels":["","","below_horizon"]},{"id":"cf074322.fb0a8","type":"api-current-state","z":"e80256fb.3116e","name":"TV ON ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"not_home","override_topic":true,"entity_id":"device_tracker.television_lg","override_payload":true,"override_data":true,"x":520,"y":140,"wires":[["40d6ce2f.58bde"]]},{"id":"f62aa187.5fac1","type":"api-current-state","z":"e80256fb.3116e","name":"Sun BELOW_HORIZON ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"above_horizon","override_topic":true,"entity_id":"sun.sun","override_payload":true,"override_data":true,"x":570,"y":80,"wires":[["40d6ce2f.58bde"]]},{"id":"b4d9c582.4881c","type":"api-call-service","z":"e80256fb.3116e","name":"Living Room Lights ON","server":"e0dd1f43.fccf6","service_domain":"script","service":"livingroom_lights_tv_on","data":"","mergecontext":"","x":1090,"y":100,"wires":[[]]},{"id":"8dc6ea2.8e9b098","type":"server-state-changed","z":"e80256fb.3116e","name":"TV status: OFF ?","server":"e0dd1f43.fccf6","entityidfilter":"device_tracker.television_lg","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"on","outputs":1,"x":120,"y":220,"wires":[["f3fd0827.8c32a8"]]},{"id":"93e162a2.e4d2d8","type":"switch","z":"885c677a.c9f008","name":"on | off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":160,"wires":[[],[]]},{"id":"dadc0647.c14948","type":"switch","z":"f25010e5.eecf18","name":"home | not_home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":140,"wires":[[],[]]},{"id":"f3fd0827.8c32a8","type":"trigger","z":"e80256fb.3116e","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"min","reset":"home","bytopic":"all","name":"","x":310,"y":220,"wires":[["3c104a11.729d16"]]},{"id":"fe472b0b.ed0ba","type":"api-call-service","z":"e80256fb.3116e","name":"Living Room Lights OFF","server":"e0dd1f43.fccf6","service_domain":"script","service":"livingroom_lights_off","data":"","mergecontext":"","x":1090,"y":220,"wires":[[]]},{"id":"f9bd2fbe.804ae8","type":"api-current-state","z":"7e0936e5.99c258","name":"is Night ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"above_horizon","override_topic":true,"entity_id":"sun.sun","override_payload":true,"x":340,"y":140,"wires":[[]]},{"id":"76883e06.d5347","type":"subflow:7e0936e5.99c258","z":"30c29cc.4d28164","name":"","x":1460,"y":120,"wires":[["6b249fad.1d9498","385a3ece.c06212"]]},{"id":"5aef75b2.f29034","type":"subflow:885c677a.c9f008","z":"30c29cc.4d28164","name":"","x":570,"y":140,"wires":[["61b07053.1fd89"],[]]},{"id":"6b249fad.1d9498","type":"api-call-service","z":"30c29cc.4d28164","name":"Luz Principal: ON","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.luz_principal\"}","mergecontext":"","x":1810,"y":120,"wires":[[]]},{"id":"9d40fc4.42b888","type":"trigger","z":"30c29cc.4d28164","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"units":"min","reset":"on","bytopic":"all","name":"","x":590,"y":180,"wires":[["2db80c7f.43fddc"]]},{"id":"840a07c1.857118","type":"subflow:7e0936e5.99c258","z":"30c29cc.4d28164","name":"","x":1460,"y":180,"wires":[["6a995ff9.5f0c48"]]},{"id":"d2978967.930c18","type":"trigger-state","z":"30c29cc.4d28164","name":"Sun from 'above_horizon' to 'below_horizon'","server":"e0dd1f43.fccf6","entityid":"device_tracker.television_lg","debugenabled":false,"constraints":[{"id":"x51o7c9qzjh","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"below_horizon"},{"id":"gs73vagmep5","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"above_horizon"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"0ilah60wx66n","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"below_horizon"}],"x":310,"y":60,"wires":[[],[],["382d2b2d.732e14"]],"outputLabels":["","","below_horizon"]},{"id":"40d6ce2f.58bde","type":"api-current-state","z":"e80256fb.3116e","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_tv_mode_lights","override_payload":false,"x":890,"y":100,"wires":[["b4d9c582.4881c"]]},{"id":"3c104a11.729d16","type":"api-current-state","z":"e80256fb.3116e","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_tv_mode_lights","override_payload":false,"x":890,"y":220,"wires":[["fe472b0b.ed0ba"]]},{"id":"e6f9f1e3.50ac7","type":"api-current-state","z":"12d28522.f7a5fb","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_hassio_backups","override_payload":false,"x":570,"y":160,"wires":[["3fdb4d2a.5c34f2","b51c18af.520fb8"]]},{"id":"b196b2f9.6b84f","type":"trigger","z":"2e2bc9d1.f217f6","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"units":"min","reset":"home","bytopic":"all","name":"","x":350,"y":200,"wires":[["b61d784f.3842e8"]]},{"id":"b61d784f.3842e8","type":"api-current-state","z":"2e2bc9d1.f217f6","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_workstation","override_payload":false,"x":510,"y":200,"wires":[["73623903.685f7"]]},{"id":"87dd46c5.4fddb8","type":"api-current-state","z":"2e2bc9d1.f217f6","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_workstation","override_payload":false,"override_data":true,"x":630,"y":100,"wires":[["d2e40ece.5a93a8"]]},{"id":"ba4629b8.d1c5c","type":"api-current-state","z":"d088909c.1f833","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_daniel_bedtime","override_payload":false,"x":490,"y":300,"wires":[["d5727a7c.000f28"]]},{"id":"4f391991.9f8d9","type":"api-current-state","z":"d088909c.1f833","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_daniel_bedtime","override_payload":false,"x":290,"y":220,"wires":[["26ab89fb.72601e"]]},{"id":"fc3d9630.73f76","type":"api-current-state","z":"d088909c.1f833","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_daniel_bedtime","override_payload":false,"x":290,"y":160,"wires":[["f7460025.96e3a"]]},{"id":"f6ff1c8b.fff17","type":"api-current-state","z":"fb4ea7ef.b2b1f","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_aspi_notification","override_payload":false,"x":610,"y":380,"wires":[["6045e5f1.fef85c"]]},{"id":"1a501.24b75affe","type":"api-current-state","z":"fb4ea7ef.b2b1f","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_daniel_bedtime","override_payload":false,"x":970,"y":240,"wires":[["ce9c77e9.f60008"]]},{"id":"c2e1abe1.fd733","type":"server-state-changed","z":"b867b51d.6e7cb8","name":"Time","server":"e0dd1f43.fccf6","entityidfilter":"sensor.time","entityidfiltertype":"exact","haltifstate":"","outputs":1,"x":90,"y":100,"wires":[["73c593b.eaf7fec"]]},{"id":"45918847.3e3288","type":"api-current-state","z":"b867b51d.6e7cb8","name":"Toldo Grande Open Time","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","override_topic":false,"entity_id":"sensor.toldo_1_open_time","override_payload":false,"x":1030,"y":80,"wires":[["6ff800c3.bb1c38"]]},{"id":"6ff800c3.bb1c38","type":"switch","z":"b867b51d.6e7cb8","name":"== msg.time ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"time","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":80,"wires":[["3623636d.3c0164"]]},{"id":"73c593b.eaf7fec","type":"change","z":"b867b51d.6e7cb8","name":"","rules":[{"t":"set","p":"time","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":100,"wires":[["50f530a.32f53d"]]},{"id":"3623636d.3c0164","type":"api-call-service","z":"b867b51d.6e7cb8","name":"Toldo Grande OPEN","server":"e0dd1f43.fccf6","service_domain":"cover","service":"set_cover_position","data":"{\"entity_id\": \"cover.toldo_1\", \"position\": 40}","mergecontext":"","x":1440,"y":80,"wires":[[]]},{"id":"cc89ce74.088b3","type":"api-call-service","z":"b867b51d.6e7cb8","name":"Toldo Grande CLOSE","server":"e0dd1f43.fccf6","service_domain":"cover","service":"open_cover","data":"{\"entity_id\": \"cover.toldo_1\"}","mergecontext":"","x":1440,"y":200,"wires":[[]]},{"id":"5f161a07.acd47c","type":"api-current-state","z":"b867b51d.6e7cb8","name":"Toldo Grande Close Time","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","override_topic":false,"entity_id":"sensor.toldo_1_close_time","override_payload":false,"x":1030,"y":200,"wires":[["d911a69f.1541d"]]},{"id":"d911a69f.1541d","type":"switch","z":"b867b51d.6e7cb8","name":"== msg.time ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"time","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":200,"wires":[["cc89ce74.088b3"]]},{"id":"73c930ee.986e4","type":"api-current-state","z":"b867b51d.6e7cb8","name":"Toldo Lateral Open Time","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","override_topic":false,"entity_id":"sensor.toldos_2_open_time","override_payload":false,"x":1030,"y":120,"wires":[["29306a18.27bf56"]]},{"id":"29306a18.27bf56","type":"switch","z":"b867b51d.6e7cb8","name":"== msg.time ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"time","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":120,"wires":[["3fb6b0ea.e2e98"]]},{"id":"3fb6b0ea.e2e98","type":"api-call-service","z":"b867b51d.6e7cb8","name":"Toldo Lateral OPEN","server":"e0dd1f43.fccf6","service_domain":"cover","service":"set_cover_position","data":"{\"entity_id\": \"cover.toldos_2\", \"position\": 30}","mergecontext":"","x":1440,"y":120,"wires":[[]]},{"id":"b028a4f.9b4f758","type":"api-call-service","z":"b867b51d.6e7cb8","name":"Toldo Lateral CLOSE","server":"e0dd1f43.fccf6","service_domain":"cover","service":"open_cover","data":"{\"entity_id\": \"cover.toldos_2\"}","mergecontext":"","x":1440,"y":160,"wires":[[]]},{"id":"54e32cb7.fdaf14","type":"api-current-state","z":"b867b51d.6e7cb8","name":"Toldo Lateral Close Time","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","override_topic":false,"entity_id":"sensor.toldos_2_close_time","override_payload":false,"x":1030,"y":160,"wires":[["6e661a34.cb6974"]]},{"id":"6e661a34.cb6974","type":"switch","z":"b867b51d.6e7cb8","name":"== msg.time ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"time","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":160,"wires":[["b028a4f.9b4f758"]]},{"id":"c428d8cd.0fa42","type":"api-current-state","z":"b867b51d.6e7cb8","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_toldos","override_payload":false,"x":790,"y":100,"wires":[["45918847.3e3288","73c930ee.986e4"]]},{"id":"bd6f06ea.4c00c8","type":"trigger-state","z":"fb4ea7ef.b2b1f","name":"Aspi Status: To Docked","server":"e0dd1f43.fccf6","entityid":"vacuum.aspi","debugenabled":true,"constraints":[{"id":"2voc4yvzh3i","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"docked"},{"id":"e4rjiyz2r0m","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"returning"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"z65cte4cq5","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"docked"}],"outputinitially":false,"x":290,"y":320,"wires":[[],[],["1a501.24b75affe"]]},{"id":"61b07053.1fd89","type":"api-current-state","z":"30c29cc.4d28164","name":"ENABLED ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.automation_daniel_presence","override_payload":true,"x":770,"y":120,"wires":[["94bc5694.5b52f8"]]},{"id":"2db80c7f.43fddc","type":"api-current-state","z":"30c29cc.4d28164","name":"ENABLED ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.automation_daniel_presence","override_payload":true,"x":770,"y":180,"wires":[["840a07c1.857118"]]},{"id":"5e944ca5.63b244","type":"api-current-state","z":"b867b51d.6e7cb8","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_toldos","override_payload":false,"x":790,"y":180,"wires":[["54e32cb7.fdaf14","5f161a07.acd47c"]]},{"id":"d5a3d37.43a4cb","type":"server-state-changed","z":"b867b51d.6e7cb8","name":"Wheater","server":"e0dd1f43.fccf6","entityidfilter":"sensor.dark_sky_summary","entityidfiltertype":"exact","haltifstate":"","outputs":1,"x":100,"y":180,"wires":[["639b2be3.adba24"]]},{"id":"639b2be3.adba24","type":"switch","z":"b867b51d.6e7cb8","name":"is 'Llovizna' or 'Vientos Suaves'?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Llovizna","vt":"str"},{"t":"eq","v":"Vientos Suaves","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":180,"wires":[["5e944ca5.63b244"],["5e944ca5.63b244"]]},{"id":"50f530a.32f53d","type":"api-current-state","z":"b867b51d.6e7cb8","name":"Recommendation ON ?","server":"e0dd1f43.fccf6","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.recomendacion_bajar_toldos","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":100,"wires":[["c428d8cd.0fa42"],[]]},{"id":"4022aace.c0e00c","type":"inject","z":"12d28522.f7a5fb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["e6f9f1e3.50ac7"]]},{"id":"98d7a4f1.334be8","type":"light-scheduler","z":"12d28522.f7a5fb","settings":"21d44d66.d77c6a","events":"[{\"start\":{\"dow\":1,\"mod\":300},\"end\":{\"dow\":1,\"mod\":315}}]","topic":"","name":"Once a week","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":110,"y":160,"wires":[["eb30ad11.524fb8"]]},{"id":"65cbc93b.0b4ef8","type":"api-current-state","z":"a54c2c79.d6d348","name":"Entity ID: OFF ?","server":"","outputs":1,"halt_if":"on","override_topic":false,"entity_id":"","override_payload":false,"x":800,"y":40,"wires":[["16451af9.b950d5"]]},{"id":"70458c73.ad2e44","type":"function","z":"a54c2c79.d6d348","name":"Set Entity ID from msg.topic","func":"msg.payload = {\"entity_id\": msg.topic}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":40,"wires":[["65cbc93b.0b4ef8"]]},{"id":"15e9702b.d17468","type":"switch","z":"a54c2c79.d6d348","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"on","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":80,"wires":[["efbdf2bd.0efaa8"],["8f57e75.537e698"]]},{"id":"7e3c5c63.a930d4","type":"api-current-state","z":"a54c2c79.d6d348","name":"Entity ID: ON ?","server":"","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"","override_payload":false,"x":1080,"y":120,"wires":[["86d1b2aa.bcc038"]]},{"id":"5242af06.b018a","type":"function","z":"a54c2c79.d6d348","name":"Set Entity ID from msg.topic","func":"msg.payload = {\"entity_id\": msg.topic}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":120,"wires":[["7e3c5c63.a930d4"]]},{"id":"3830c45.99e593c","type":"api-current-state","z":"a54c2c79.d6d348","name":"Entity ID: OFF ?","server":"","outputs":1,"halt_if":"on","override_topic":false,"entity_id":"","override_payload":false,"x":1380,"y":40,"wires":[["8379ca7e.74949"]]},{"id":"362f7eee.15e912","type":"function","z":"a54c2c79.d6d348","name":"Set Entity ID from msg.topic","func":"msg.payload = {\"entity_id\": msg.topic}\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":40,"wires":[["3830c45.99e593c"]]},{"id":"96c10793.e84a4","type":"api-current-state","z":"a54c2c79.d6d348","name":"Entity ID: OFF ?","server":"","outputs":1,"halt_if":"on","override_topic":false,"entity_id":"","override_payload":false,"x":1960,"y":40,"wires":[["596dd084.c7bf3"]]},{"id":"d891a1cf.28b77","type":"function","z":"a54c2c79.d6d348","name":"Set Entity ID from msg.topic","func":"msg.payload = {\"entity_id\": msg.topic}\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":40,"wires":[["96c10793.e84a4"]]},{"id":"8f57e75.537e698","type":"switch","z":"a54c2c79.d6d348","name":"Entity disconnected: TRUE ?","property":"disconnected","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":120,"wires":[["ef704136.1481"]]},{"id":"596dd084.c7bf3","type":"change","z":"a54c2c79.d6d348","name":"Entity Disconnected: TRUE ","rules":[{"t":"set","p":"disconnected","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2180,"y":40,"wires":[[]]},{"id":"86d1b2aa.bcc038","type":"change","z":"a54c2c79.d6d348","name":"Entity Disconnected: FALSE","rules":[{"t":"set","p":"disconnected","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":120,"wires":[[]]},{"id":"efbdf2bd.0efaa8","type":"delay","z":"a54c2c79.d6d348","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":40,"wires":[["70458c73.ad2e44"]]},{"id":"16451af9.b950d5","type":"delay","z":"a54c2c79.d6d348","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":40,"wires":[["362f7eee.15e912"]]},{"id":"8379ca7e.74949","type":"delay","z":"a54c2c79.d6d348","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1540,"y":40,"wires":[["d891a1cf.28b77"]]},{"id":"ef704136.1481","type":"delay","z":"a54c2c79.d6d348","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":120,"wires":[["5242af06.b018a"]]},{"id":"ba79f583.18bb38","type":"api-current-state","z":"51852ec3.ac9708","name":"is Night ?","server":"","outputs":1,"halt_if":"above_horizon","override_topic":true,"entity_id":"sun.sun","override_payload":true,"x":340,"y":140,"wires":[[]]},{"id":"72b220cd.9d0bd8","type":"server-state-changed","z":"30c29cc.4d28164","name":"Puerta Daniel","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.door_daniel","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":310,"y":320,"wires":[["29caff7f.633608"]]},{"id":"d6f0deb5.ac20f8","type":"api-call-service","z":"30c29cc.4d28164","name":"Luz Pasillo: ON","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.luz_pasillo\"}","mergecontext":"","x":1620,"y":340,"wires":[[]]},{"id":"f6dd939a.0b2ff8","type":"switch","z":"30c29cc.4d28164","name":"is 'Casa' or 'Acaba de llegar'?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Casa","vt":"str"},{"t":"eq","v":"Acaba de llegar","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":340,"wires":[["b4058b54.9d63"],["b4058b54.9d63"]]},{"id":"24603719.c5c2c","type":"trigger","z":"30c29cc.4d28164","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"40","extend":true,"units":"s","reset":"off","bytopic":"all","name":"","x":590,"y":300,"wires":[["db43deca.17ca"]]},{"id":"29caff7f.633608","type":"subflow:885c677a.c9f008","z":"30c29cc.4d28164","name":"","x":450,"y":320,"wires":[["24603719.c5c2c"],["e9092898.93ea08"]]},{"id":"92d4db95.5877d","type":"api-current-state","z":"30c29cc.4d28164","name":"Door Open ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"binary_sensor.door_daniel","override_payload":true,"override_data":true,"x":1050,"y":300,"wires":[["7c7add3.581a724"]]},{"id":"be9afed9.450a68","type":"api-call-service","z":"30c29cc.4d28164","name":"Luz Pasillo: OFF","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.luz_pasillo\"}","mergecontext":"","x":1630,"y":300,"wires":[[]]},{"id":"62d3eb45.fdb0fc","type":"api-current-state","z":"30c29cc.4d28164","name":"Daniel Home STATUS ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","override_topic":true,"entity_id":"input_select.daniel_home_status","override_payload":true,"x":970,"y":340,"wires":[["f6dd939a.0b2ff8"]]},{"id":"385a3ece.c06212","type":"api-current-state","z":"30c29cc.4d28164","name":"Door Open ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"binary_sensor.door_daniel","override_payload":true,"override_data":true,"x":1630,"y":80,"wires":[["9f99c5af.69d71"]]},{"id":"7c7add3.581a724","type":"subflow:7e0936e5.99c258","z":"30c29cc.4d28164","name":"","x":1460,"y":300,"wires":[["be9afed9.450a68"]]},{"id":"9f99c5af.69d71","type":"api-call-service","z":"30c29cc.4d28164","name":"Luz Pasillo: OFF","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.luz_pasillo\"}","mergecontext":"","x":1810,"y":80,"wires":[[]]},{"id":"b4058b54.9d63","type":"subflow:7e0936e5.99c258","z":"30c29cc.4d28164","name":"","x":1460,"y":340,"wires":[["d6f0deb5.ac20f8"]]},{"id":"e9092898.93ea08","type":"api-current-state","z":"30c29cc.4d28164","name":"ENABLED ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.automation_daniel_presence","override_payload":true,"x":770,"y":340,"wires":[["62d3eb45.fdb0fc"]]},{"id":"db43deca.17ca","type":"api-current-state","z":"30c29cc.4d28164","name":"ENABLED ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"input_boolean.automation_daniel_presence","override_payload":true,"x":770,"y":300,"wires":[["92d4db95.5877d"]]},{"id":"31ca5d6a.648bda","type":"server-state-changed","z":"2e2bc9d1.f217f6","name":"STRIX-STATION-ETH","server":"e0dd1f43.fccf6","entityidfilter":"device_tracker.strixstation_eth","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":100,"y":140,"wires":[["bf2e1397.23b4f","b196b2f9.6b84f"]]},{"id":"3cc154c9.327bc4","type":"api-current-state","z":"2e2bc9d1.f217f6","name":"STRIX-STATION-ETH: OFF ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"home","override_topic":true,"entity_id":"device_tracker.strixstation_eth","override_payload":true,"override_data":true,"x":960,"y":200,"wires":[["af6a1500.878048"]]},{"id":"a1922e4f.569b08","type":"server-state-changed","z":"27c7e3db.10368c","name":"Presencia Salon","server":"e0dd1f43.fccf6","entityidfilter":"binary_sensor.pir_salon","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":160,"y":260,"wires":[["59eb90c4.834c88","a3cba6a6.31187"]]},{"id":"1456cce2.7c060b","type":"api-current-state","z":"27c7e3db.10368c","name":"Home STATUS ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","override_topic":true,"entity_id":"sensor.home_status","override_payload":true,"override_data":true,"x":1090,"y":200,"wires":[["a1274743.1b396"]]},{"id":"a1274743.1b396","type":"switch","z":"27c7e3db.10368c","name":"is 'Habitada'?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Habitada","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1280,"y":200,"wires":[["dd4b29dd.a56eb"]]},{"id":"dd4b29dd.a56eb","type":"subflow:7e0936e5.99c258","z":"27c7e3db.10368c","name":"","x":1440,"y":200,"wires":[["8c00f829.93dbd"]]},{"id":"59eb90c4.834c88","type":"subflow:885c677a.c9f008","z":"27c7e3db.10368c","name":"","x":590,"y":200,"wires":[["f9572f5d.1587d8"],[]]},{"id":"8c00f829.93dbd","type":"api-call-service","z":"27c7e3db.10368c","name":"Lampara Mesa: ON","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.lampara_mesa\"}","mergecontext":"","x":1610,"y":200,"wires":[[]]},{"id":"a3cba6a6.31187","type":"trigger","z":"27c7e3db.10368c","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"1","extend":true,"units":"min","reset":"on","bytopic":"all","name":"","x":610,"y":260,"wires":[["30dbc929.b6cd5e"]]},{"id":"acf944fa.80938","type":"subflow:7e0936e5.99c258","z":"27c7e3db.10368c","name":"","x":1440,"y":260,"wires":[["be7c7de0.a0247"]]},{"id":"5bef187c.c8422","type":"trigger-state","z":"27c7e3db.10368c","name":"Sun from 'above_horizon' to 'below_horizon'","server":"e0dd1f43.fccf6","entityid":"device_tracker.television_lg","debugenabled":false,"constraints":[{"id":"x51o7c9qzjh","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"below_horizon"},{"id":"gs73vagmep5","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"above_horizon"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"0ilah60wx66n","messageType":"default","messageValue":"","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"below_horizon"}],"x":210,"y":120,"wires":[[],[],["7f9d3049.b6da08"]],"outputLabels":["","","below_horizon"]},{"id":"be7c7de0.a0247","type":"api-call-service","z":"27c7e3db.10368c","name":"Lampara Mesa: OFF","server":"e0dd1f43.fccf6","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.lampara_mesa\"}","mergecontext":"","x":1620,"y":260,"wires":[[]]},{"id":"fae6382b.008b1","type":"api-current-state","z":"27c7e3db.10368c","name":"TV OFF ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"home","override_topic":true,"entity_id":"device_tracker.television_lg","override_payload":true,"override_data":true,"x":1120,"y":260,"wires":[["acf944fa.80938"]]},{"id":"382d2b2d.732e14","type":"api-current-state","z":"30c29cc.4d28164","name":"Presencia Habitacion Daniel: ON?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"binary_sensor.pir_daniel","override_payload":true,"override_data":true,"x":640,"y":80,"wires":[["61b07053.1fd89"]]},{"id":"7f9d3049.b6da08","type":"api-current-state","z":"27c7e3db.10368c","name":"Presencia Habitacion Daniel: ON?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":true,"entity_id":"binary_sensor.pir_salon","override_payload":true,"override_data":true,"x":580,"y":140,"wires":[["f9572f5d.1587d8"]]},{"id":"f9572f5d.1587d8","type":"api-current-state","z":"27c7e3db.10368c","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_livingroom_presence","override_payload":false,"override_data":true,"x":890,"y":200,"wires":[["1456cce2.7c060b"]]},{"id":"30dbc929.b6cd5e","type":"api-current-state","z":"27c7e3db.10368c","name":"ENABLED?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"off","override_topic":false,"entity_id":"input_boolean.automation_livingroom_presence","override_payload":false,"override_data":true,"x":890,"y":260,"wires":[["fae6382b.008b1"]]},{"id":"f8140b52.8d4d38","type":"api-call-service","z":"fb4ea7ef.b2b1f","name":"Notify: html5_ramon","server":"e0dd1f43.fccf6","service_domain":"notify","service":"html5_ramon","data":"{\"message\":\"Aspi llena. Por favor, vacíe el depósito\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":1880,"y":160,"wires":[[]]},{"id":"ccb8a431.67ad08","type":"api-current-state","z":"fb4ea7ef.b2b1f","name":"Ramon Home STATUS ?","server":"e0dd1f43.fccf6","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_select.ramon_home_status","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1490,"y":160,"wires":[["64c2f608.db0f9"]]},{"id":"64c2f608.db0f9","type":"switch","z":"fb4ea7ef.b2b1f","name":"is Casa?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Casa","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1680,"y":160,"wires":[["f8140b52.8d4d38"]]}]